<h1 class="text-center">Список змагань</h1>
<div class="container">
  <div class="row">
    <div class="col-md-1">
      <button mat-icon-button color="warn" (click)="addCompetition()">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
    <div class="col-md-11">
      <input type="text" class="form-control" [(ngModel)]="searchStr" placeholder="Пошук по назві">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <input type="date" [(ngModel)]="firstDate" class="form-control">
    </div>
    <div class="col-md-2">
      <input type="date" [(ngModel)]="secondDate" class="form-control">
    </div>
    <div class="col-md-2">
      <button class="btn btn-success" (click)="getCompetitionsByDates(firstDate, secondDate)">
        Пошук
      </button>
    </div>
  </div>
  <br>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <td>#</td>
    <td>Назва</td>
    <td>Старт</td>
    <td>Фініш</td>
    <td>Організатор</td>
    <td>Вид спорту</td>
    <td>Спортсмени</td>
    <td></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let competition of competitions | searchForThings:searchStr">
    <ng-template [ngTemplateOutlet]="loadTemplate(competition)"
                 [ngTemplateOutletContext]="{ $implicit: competition}">
    </ng-template>
  </tr>
  </tbody>
</table>
<div>{{statusMessage}}</div>


<!--шаблон для читання-->
<ng-template #readOnlyTemplate let-competition>
  <td>{{competition.competitionId}}</td>
  <td>{{competition.name}}</td>
  <td>{{competition.startDate}}</td>
  <td>{{competition.finishDate}}</td>
  <td>{{competition.organizer.lastName}} {{competition.organizer.firstName}}</td>
  <td>{{competition.sportKind.name}}</td>
  <td>
    <mat-select placeholder="Спортсмени">
      <mat-option *ngFor="let sportsman of competition.sportsmen">
        {{sportsman.lastName}} {{sportsman.firstName}}
      </mat-option>
    </mat-select>
  </td>
  <td>
    <input type="button" value="Змінити" class="btn btn-success" (click)="editCompetition(competition)" />
  </td>
  <td>
    <input type="button" value="Видалити" (click)="deleteCompetition(competition)" class="btn btn-danger" />
  </td>
</ng-template>

<!--шаблон для редагування-->
<ng-template #editTemplate>
  <td>{{editedCompetition.competitionId}}</td>
  <td>
    <mat-form-field>
      <input matInput type="text" placeholder="Прізвище" [(ngModel)]="editedCompetition.name" class="form-control" />
      <button mat-button *ngIf="editedCompetition.name" matSuffix mat-icon-button aria-label="Clear" (click)="editedCompetition.name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </td>
  <td>
    <input type="date" [(ngModel)]="editedCompetition.startDate" class="form-control" />
  </td>
  <td>
    <input type="date" [(ngModel)]="editedCompetition.finishDate" class="form-control" />
  </td>
  <td>
    <mat-select [(ngModel)]="editedCompetition.organizer" placeholder="Організатори">
      <mat-option *ngFor="let organizer of organizers" [value]="organizer">
        {{organizer.lastName}} {{organizer.firstName}}
      </mat-option>
    </mat-select>
  </td>
  <td>
    <mat-select [(ngModel)]="editedCompetition.sportKind" placeholder="Вид спорту">
      <mat-option *ngFor="let sportKind of sportKinds" [value]="sportKind">
        {{sportKind.name}}
      </mat-option>
    </mat-select>
  </td>
  <td>
    <mat-select [(ngModel)]="editedCompetition.sportsmen" placeholder="Спортсмени" multiple>
      <mat-option *ngFor="let sportsman of sportsmen" [value]="sportsman" >
        {{sportsman.lastName}} {{sportsman.firstName}}
      </mat-option>
    </mat-select>
  </td>
  <td>
    <input type="button" value="Зберегти" (click)="saveCompetition()" class="btn btn-outline-success" />
  </td>
  <td>
    <input type="button" value="Відмінити" (click)="cancel()" class="btn btn-outline-warning" />
  </td>
</ng-template>
