<h1 class="text-center">Список тренерів</h1>

<div class="container">
  <div class="row">
    <div class="col-md-1">
      <button mat-icon-button color="warn" (click)="addCoach()">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
    <div class="col-md-11">
      <input type="text" class="form-control"  [(ngModel)]="searchStr" placeholder="Пошук по прізвищу">
    </div>
  </div>
  <br>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <td>#</td>
    <td>Прізвище</td>
    <td>Ім'я</td>
    <td>По батькові</td>
    <td>Дата народження</td>
    <td>Гравці</td>
    <td></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let coach of coaches | search:searchStr">
    <ng-template [ngTemplateOutlet]="loadTemplate(coach)"
                 [ngTemplateOutletContext]="{ $implicit: coach}">
    </ng-template>
  </tr>
  </tbody>
</table>
<div>{{statusMessage}}</div>


<!--шаблон для читання-->
<ng-template #readOnlyTemplate let-coach>
  <td>{{coach.coachId}}</td>
  <td>{{coach.lastName}}</td>
  <td>{{coach.firstName}}</td>
  <td>{{coach.middleName}}</td>
  <td>{{coach.birthDate}}</td>
  <td>
    <mat-form-field>
      <mat-select placeholder="Спортсмени">
        <mat-option disabled="true" *ngFor="let sportsman of coach.sportsmen" [value]="sportsman.sportsmanId">
          {{sportsman.lastName}} {{sportsman.firstName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </td>
  <td>
    <input type="button" value="Змінити" class="btn btn-success" (click)="editCoach(coach)" />
  </td>
  <td>
    <input type="button" value="Видалити" (click)="deleteCoach(coach)" class="btn btn-danger" />
  </td>
</ng-template>

<!--шаблон для редагування-->
<ng-template #editTemplate>
  <td>
    <input type="text" [(ngModel)]="editedCoach.coachId"  disabled class="form-control" />
  </td>
  <td>
    <mat-form-field>
      <input matInput type="text" placeholder="Прізвище" [(ngModel)]="editedCoach.lastName" class="form-control" />
      <button mat-button *ngIf="editedCoach.lastName" matSuffix mat-icon-button aria-label="Clear" (click)="editedCoach.lastName=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field>
      <input matInput type="text" placeholder="Ім'я" [(ngModel)]="editedCoach.firstName" class="form-control" />
      <button mat-button *ngIf="editedCoach.firstName" matSuffix mat-icon-button aria-label="Clear" (click)="editedCoach.firstName=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field>
      <input matInput type="text" placeholder="По батькові" [(ngModel)]="editedCoach.middleName" class="form-control" />
      <button mat-button *ngIf="editedCoach.middleName" matSuffix mat-icon-button aria-label="Clear" (click)="editedCoach.middleName=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </td>
  <td>
    <input type="date" [(ngModel)]="editedCoach.birthDate" class="form-control" />
  </td>
  <td>
    <mat-select [(ngModel)]="editedCoach.sportsmen" multiple>
      <mat-option *ngFor="let sportsman of sportsmen" [value]="sportsman">
        {{sportsman.lastName}} {{sportsman.firstName}}
      </mat-option>
    </mat-select>
  </td>
  <td>
    <input type="button" value="Зберегти" (click)="saveCoach()" class="btn btn-outline-success" />
  </td>
  <td>
    <input type="button" value="Відмінити" (click)="cancel()" class="btn btn-outline-warning" />
  </td>
</ng-template>
