<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Спорт</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/coach" routerLinkActive="active">Тренери</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sportsman" routerLinkActive="active">Спортсмени</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sport-club" routerLinkActive="active">Спортивні клуби</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/organizer" routerLinkActive="active">Організатори</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/competition" routerLinkActive="active">Змагання</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sport-kind" routerLinkActive="active">Види спорту</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Спортивні споруди
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/stadium">Стадіони</a>
          <a class="dropdown-item" href="/court">Тенісні корти</a>
          <a class="dropdown-item" href="/gym">Спортивні зали</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
